.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 20px auto 0 17px;
}

.u-section-1 .u-text-3 {
  margin-left: 17px;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}